.coding {
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 600;
}

.profiles-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.profile-icon {
  width: 1000px;
  height: 700px;
  border-radius: 120px;
  object-fit: contain;
  margin-bottom: 20px;
}

#profileimage{
  height: 1000px;
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 10px 10px;
  height: 398px;
  width: 300px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.sc-logo-side {
  transition: clip-path 0.1s ease;
}

.sc-handle {
  transition: left 0.1s ease;
}

.solved-text {
  font-size: 1rem;
  margin-bottom: 20px;
}

.solved-text span {
  font-weight: bold;
  color: #00e0ff;
}






/*  PUSH BUTTON TO BOTTOM */
.profile-btn {
  margin-top: auto;   /* this pushes button down */
  width: 200px;
  display: inline-block;
  margin-bottom: 2.3px;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(45deg, #00e0ff, #6a5acd);
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.profile-btn:hover {
  opacity: 0.8;
}

